#page_header img {

  max-width: 38%;
  max-height: 38%;
  border: 1px solid black;
  margin-top: 25px;
  position: absolute;
  right: 75px;
}

#navbar {

  padding-top: 25px;
  padding-bottom: 10px;
}

#navbar a:visited {

  text-decoration: none;
  font-size: 18px;
  color: black;
}

#navbar a:link {

  text-decoration: none;
  font-size: 18px;
  color: black;
}

.small {

  width: 15%;
  text-align: center;
  margin: 10px;
  background-color: #1F0000;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #B4CEDB;
  margin-left: -10px;
  box-shadow: 3px 0 5px white;
}

.small p {

  padding: 5px;
  margin: 5px;
  color: #E8E8E8;
}

.small a {

  font-family: Arial;
  font-size: 8px;
  text-transform: lowercase;
}

.medium {

  width: 25%;
  text-align: center;
  margin: 10px;
  background-color: #A22522;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #B4CEDB;
  margin-left: -10px;
  box-shadow: 3px 0 5px white;
}

.medium a {

  font-family: Arial;
  font-size: 8px;
  text-transform: lowercase;
}

.medium p {

  padding: 5px;
  margin: 5px;
  color: #E8E8E8;
}

.large {

  width: 35%;
  text-align: center;
  margin: 10px;
  background-color: #1F0000;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #B4CEDB;
  margin-left: -10px;
  box-shadow: 3px 0 5px white;
}

.large a {

  font-family: Arial;
  font-size: 8px;
  text-transform: lowercase;
  color: white;
}

.large p {

  padding: 5px;
  margin: 5px;
  color: #E8E8E8;
}

#social_media {

  z-index: -1;
  width: 100%;
  margin-top: 18px;
}

#social_media img {

  width: 64px;
  height: 64px;
}

#social_media p {

  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-family: Arial;
  color: #E8E8E8;

  text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.textArea {

  background-color: #F3EFDF;
  margin: 50px;
  box-shadow: 0px 2px 5px black;
}

#textBody {

  margin-top: -50px;
  margin-left: 51px;
  margin-right: 50px;
  width: 90%;
  height: 100px;
  border-top: 10px solid #C33149;
  background-color: #1F0000;
}

#mainInfo {

  width: 90%;
  height: 400px;
  margin-left: 51px;
  background-color: #F3EFDF;
  margin-bottom: 50px;
  margin-top: -5px;
}

#mainInfo h2 {

  padding: 7px;
  margin: 7px;
  font-family: Arial;
  text-transform: lowercase;
}

#mainInfo p {

  font-family: Arial;
  padding: 7px;
  margin: 7px;
  padding-left: 10px;
  margin-left: 10px;
}

body {

  background-color: #40332E;
}
